SERVER_URL=https://truenas
API_KEY=YOUR_TRUENAS_API_KEY_HERE
SEC_SEED=true
BACKUPLOC=\\network\host\truenas
MAXNR_OF_FILES=10
SCHEDULED_TIME=02:00

# Optional DR Notifications
# UPTIME_KUMA_URL=http://uptime/api/push/YOUR_UPTIME_KUMA_PUSH_ID_HERE?status=up&msg=OK&ping=
# TELEGRAM_BOT_TOKEN=your_bot_token_here
# TELEGRAM_CHAT_ID=your_chat_id_here